# Compiled files
*.class
*.dex
*.apk
*.ap_
*.aab
*.jar
*.msi
*.exe
*.deb
*.rpm

# Android Studio / IntelliJ IDEA
*.iml
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Build output
build/
out/
release/

# Kotlin
.kotlin/
.continue/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Keystore & signing
keystore/
keystore.properties
*.jks
*.keystore

# Logs & memory dumps
*.log
*.hprof

# Backup files
*~
*.bak
*.tmp

# Editors
.vscode/
.fleet/
.idea/

# Gradle wrapper (keep gradle-wrapper.jar)
gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
dist/

# Multiplatform / Compose
.metadata/
.artifact/
*.artifacts/
